#container {
  display:flex;
  justify-content:center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#map-data-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #292f36;
  height: 100vh;
  width: 40%;
  padding: 0;
  border-radius: 10px;
  color: white;
}

#country-data {
  display:flex;
  flex-direction: column;
}

#country-headers {
  margin-bottom: 2rem;
}

p {
  font-weight: bold;
  font-size: 1.5rem;
}
span {
  font-weight: 300;
}

footer {
  font-weight: bold;
  font-size: 1.5rem;
  color:#292f36
}
